.site-header__navigation {
    --menu-item--gap: 0;
    --menu-item--arrow-size: #{px-to-rem(16)};

    --submenu--z-index: 1;
    // --submenu-item--gap: var(--space--m); // defaults to --menu-item--gap
    --submenu--translate-y: #{px-to-rem(-5)}; // transitions to 0 on expand.
    --submenu--arrow-height: #{px-to-rem(10)};
    --submenu--transition-duration: 200ms;
    --submenu--transition-ease: ease-out;
    --submenu--padding-x: var(--space--2xs);
    --submenu--padding-y: var(--space--xs);
    --submenu--box-shadow: var(--box-shadow--2);
    --submenu--border-radius: var(--border-radius--m);
    --submenu--dropdown--max-width: #{px-to-rem(400)};
    --submenu--dropdown--min-width: #{px-to-rem(275)};

    $submenu-color: 'brand-2';

    align-self: start;
    width: 100%;

    @include mq('site-header') {
        --menu-item--gap: var(--space--s);

        --submenu-item--gap: var(--space--s);
        --submenu--padding-x: var(--space--base);
        --submenu--padding-y: var(--space--base);

        display: flex;
        height: 100%;
        flex-flow: row nowrap;
        align-self: start;
        padding: 0;
    }

    // -----------------------------------------------------------------
    // Default styling for all links that don't have an override.
    // -----------------------------------------------------------------
    a {
        @include link--2;

        display: inline-flex;

        &:not([href]) {
            cursor: default;
        }
    }

    .menu {
        &__inner {
            display: flex;
        }

        &-list {
            display: grid;
            width: 100%;
            align-items: stretch;
            gap: 0;
            text-align: left;

            @include mq('site-header') {
                position: static;
                border-bottom: 0;
                gap: var(--menu-item--gap);
                grid-auto-flow: column;
            }
        }
    }

    .menu-item {
        display: flex;

        padding-top: var(--space--3xs);

        @include mq($until: 'site-header') {
            flex-direction: column;
            border-bottom: 1px solid var(--color--brand-2);
        }

        &.menu-item--depth-0 {
            @include mq($until: 'site-header') {
                padding-top: var(--space--3xs);
                padding-bottom: var(--space--3xs);
                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .sub-menu {
            @include mq($until: 'site-header') {
                margin-bottom: var(--space--s);
            }
        }

        @include mq('site-header') {
            padding-bottom: var(--space--s);
        }

        // -------------------------------------------------------------
        // Top level menu items.
        // -------------------------------------------------------------
        &--depth-0 {
            &.menu-item--current {
                border-top: var(--border-width--m) solid var(--color--brand-4);
            }

            @include mq('site-header') {
                display: flex;
                align-items: stretch;
            }

            > .menu-item__wrap {
                > a {
                    @include typestyle-h6;
                    font-size: 1rem;
                    text-transform: uppercase;
                }
            }

            &:hover::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2rem;
                background-color: transparent;
            }
        }

        &--depth-0:not(:has(.sub-menu--mega)) {
            @include mq('site-header') {
                position: relative;
            }
        }

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include mq($until: 'site-header') {
                min-height: px-to-rem(44);
                justify-content: space-between;
            }
        }

        // -------------------------------------------------------------
        // Dropdown menu items
        // -------------------------------------------------------------
        &--has-children {
            &:hover,
            &:focus,
            &.is-submenu-expanded {
                > a {
                    // background-color: var(--link--background-color--hover);
                    color: var(--link--color--hover);
                }
            }
        }

        // -------------------------------------------------------------
        // The active menu item.
        // -------------------------------------------------------------
        &--current {
            > .menu-item__wrap {
                /* stylelint-disable selector-max-compound-selectors */
                > a {
                    &:not([href*='#']) {
                        text-decoration: none;
                    }
                }
                /* stylelint-enable selector-max-compound-selectors */
            }
        }
    }

    // -----------------------------------------------------------------
    // Default styling for all submenus.
    // -----------------------------------------------------------------
    .sub-menu {
        z-index: var(--submenu--z-index);
        margin-top: var(--menu-item--gap);
        opacity: 0;
        pointer-events: none;
        transition: transition(opacity, transform, visibility);
        visibility: hidden;

        @include mq('site-header') {
            margin-top: 0;
        }

        &:not([hidden]) {
            --submenu--z-index: 2;

            opacity: 1;
            pointer-events: auto;
            visibility: visible;

            > a {
                // background-color: var(--link--background-color--hover);
                color: var(--link--color--hover);
            }
        }

        .menu-list {
            display: grid;
            padding-left: var(--submenu--padding-x);
            gap: var(--submenu-item--gap, var(--menu-item--gap));

            @include mq('site-header') {
                padding: var(--submenu--padding-y) var(--submenu--padding-x);
                grid-auto-flow: row;
            }
        }

        // -------------------------------------------------------------
        // Top level submenu only.
        // -------------------------------------------------------------
        &--depth-0 {
            @include mq('site-header') {
                @include color-context($submenu-color);

                position: absolute;
                top: calc(100%);
                left: 50%;
                display: block;
                min-width: var(--submenu--dropdown--min-width);
                max-width: var(--submenu--dropdown--max-width);
                border-radius: var(--submenu--border-radius);
                margin-top: 0;
                background-color: var(--color--brand-1);
                box-shadow: var(--submenu--box-shadow);
                transform: translate(-50%, var(--submenu--translate-y));

                // Create a small arrow at the top of the submenu.
                &:not(.sub-menu--mega) {
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: var(--submenu--arrow-height);
                        height: var(--submenu--arrow-height);
                        background: var(--color--brand-1);
                        content: '';
                        transform: scaleX(1.3) translate(-50%, -50%) rotate(45deg);
                    }
                }

                // Fills in the gap between the menu item and the
                // dropdown so that the mouse doesn't lose hover
                // going between them.
                &::after {
                    position: absolute;
                    top: calc(var(--submenu--arrow-height) * -1);
                    left: 0;
                    width: 100%;
                    height: var(--submenu--arrow-height);
                    content: '';
                    opacity: 0;
                }
            }

            &:not([hidden]) {
                --submenu--translate-y: 0px;
            }

            // Mega menu specific styles
            &.sub-menu--mega {
                @include mq('site-header') {
                    left: 50%;
                    transform: translate(-50%, var(--submenu--translate-y));
                    width: 100vw;
                    width: 100vw;
                    max-width: 100vw;
                }

                .menu-list {
                    padding: 0;
                }
            }
        }

        // -------------------------------------------------------------
        // Nested submenu -- depth 1.
        // -------------------------------------------------------------
        &--depth-1 {
            @include mq('site-header') {
                --submenu--padding-x: var(--space--xs);
                --submenu--padding-y: var(--space--xs);
            }

            .menu-list {
                @include mq('site-header') {
                    padding: var(--submenu--padding-y) var(--submenu--padding-x) 0;
                }
            }
        }
    }

    .sub-menu-toggler {
        @include mask-icon;

        display: flex;
        width: px-to-rem(32); // minumum clickable area should be 44px
        height: px-to-rem(32);
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: transparent;
        color: currentColor;

        @include mq('site-header') {
            display: none;
            width: auto;
            height: auto;
            padding: 10px;
        }

        &::after {
            display: inline-block;
            width: var(--menu-item--arrow-size, 1em);
            height: var(--menu-item--arrow-size, 1em);
            mask-image: url(#{asset-path('images/icons/chevron-down.svg')});
            mask-position: center;
            mask-repeat: no-repeat;
        }

        > * {
            pointer-events: none;
        }

        &[aria-expanded='true'] {
            &::after {
                transform: rotate(180deg);
            }
        }
    }
}
