@import './menu';

// These are set as SCSS variables so they can be used in the color-context mixin
$site-header--bottom--background: 'brand-2';
$site-header--top--background: 'white';

:root {
    --site-header--bottom: auto;
    --site-header--menu--duration: 250ms;
    --site-header--menu--ease: ease-in-out;

    // Submenu variables
    --submenu--transition-duration: 200ms;
    --submenu--transition-ease: ease-out;

    @include mq('site-header') {
        --submenu--transition-duration: 250ms;
    }
}

.site-header {
    --site-header--height: #{px-to-rem(140)};
    --site-header--logo-width: #{px-to-rem(120)};

    --site-header--spacing: var(--space--m);

    --site-header--button-size: #{px-to-rem(45)};

    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);

    $this: &;

    position: relative;
    z-index: var(--z-index--site-header);
    width: 100%;
    height: var(--site-header--height);
    background-color: var(--color--#{$site-header--bottom--background});
    transition: height var(--site-header--menu--duration) var(--site-header--menu--duration);

    @include mq('site-header') {
        --site-header--spacing: var(--space--l);
        --site-header--logo-width: #{px-to-rem(210)};
        --site-header--height: #{px-to-rem(160)};
        --site-header--button-size: #{px-to-rem(42)};

        background-color: var(--color--white);
    }

    @include mq($until: 'site-header') {
        &.is-open {
            position: fixed;
            height: calc(100% - var(--wp--admin-bar-height));
            transition: height var(--site-header--menu--duration) 0s;
        }
    }

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: var(--space--xs);

        @include mq('site-header') {
            @include align-width--l;
            gap: var(--space--m);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__top-navigation {
        
        @include mq('site-header') {
            position: absolute;
            top: 0;
            left: 0;
        }

        .menu-list {
            margin-top: var(--space--l);
            padding-right: var(--space--container-padding);
            padding-left: var(--space--container-padding);
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 0;

            @include mq('site-header') {
                margin: 0;
                padding-right: 0;
                padding-left: 0;
            }
        }

        .menu-item {
            padding: var(--space--3xs) var(--space--3xs);
            
            .menu-item__wrap > a {
                @include typestyle-h6;
            }
        }

        .menu-item--depth-0 > .menu-item__wrap > a {
            font-weight: 100;
            font-family: var(--type--1--font-family);
        }

        .menu-item__wrap {
            min-height: auto;
        }

        .menu-item.is-active {
            background-color: var(--color--brand-1);
            > .menu-item__wrap > a {
                font-weight: 400;
                font-family: var(--type--3--font-family);
                cursor: default;
                pointer-events: none;
                @include interact {
                    text-decoration: none;
                }
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        background-color: var(--color--#{$site-header--top--background});
        gap: var(--site-header--spacing);
        justify-content: space-between;

        @include mq('site-header') {
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
            justify-items: flex-end;
            justify-content: flex-end;
        }
    }

    &__bottom {
        display: flex;
        width: 100%;
        @include mq($until: 'site-header') {
            --link--color: var(--color--foreground);
            --link--color--hover: var(--color--foreground);

            @include color-context($site-header--bottom--background);

            overflow: auto;
            width: 100%;
            background: transparent;
            grid-auto-flow: row;
            grid-template-columns: min(100%, #{px-to-rem(300)});
            opacity: 0;
            pointer-events: none;
            transition: all var(--site-header--menu--duration) var(--site-header--menu--ease);
            visibility: hidden;

            .site-header.is-open & {
                opacity: 1;
                pointer-events: all;
                transition: all var(--site-header--menu--duration) var(--site-header--menu--ease)
                    var(--site-header--menu--duration);
                visibility: visible;
            }

            > * {
                padding-right: var(--space--container-padding);
                padding-left: var(--space--container-padding);
            }

            > *:first-child {
                margin-top: var(--site-header--spacing);
            }

            > *:last-child {
                padding-bottom: var(--site-header--spacing);
            }
        }

        @include mq('site-header') {
            justify-content: center;
            gap: var(--site-header--spacing);
            display: grid;
            grid-auto-rows: min-content;
            grid-template-rows: auto;
            width: auto;
            align-items: center;
        }
    }

    &__burger {
        --burger--color: var(--color--black);
        --burger--background-color: transparent;
        --burger--border-color: transparent;

        --burger--color--hover: var(--color--black);
        --burger--background-color--hover: transparent;
        --burger--border-color--hover: transparent;

        --burger--size: var(--site-header--button-size);

        flex: 0 0 auto;
        margin-right: calc(var(--burger--padding) * -0.5);

        @include mq('site-header') {
            display: none;
        }
    }

    &__search-toggler {
        --button--color: var(--color--black);
        --button--background-color: transparent;
        --button--border-color: transparent;

        --button--color--hover: var(--color--brand-1);
        --button--background-color--hover: transparent;
        --button--border-color--hover: transparent;

        --focus--color: var(--color--foreground);

        position: relative;

        display: flex;
        width: var(--site-header--button-size);
        height: var(--site-header--button-size);
        flex: 0 0 auto;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        border-radius: 100%;
        margin-left: auto;

        &--desktop {
            display: none;

            @include mq('site-header') {
                display: flex;
            }
        }

        &--mobile {
            @include mq('site-header') {
                display: none;
            }
        }

        &::before {
            width: px-to-rem(20);
            height: px-to-rem(20);
            background: currentColor;
            content: '';
            mask-image: url('./images/icons/search.svg');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
        }

        &[aria-expanded='true'] {
            --button--color: var(--color--brand-2);
            --button--background-color: var(--color--brand-1);
            --button--border-color: var(--color--brand-1);

            --button--color--hover: var(--color--brand-2);
            --button--background-color--hover: var(--color--brand-1);
            --button--border-color--hover: var(--color--brand-1);
        }
    }

    &__logo {
        display: flex;
        width: 100%;
        max-width: var(--site-header--logo-width);

        > * {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left center;
        }
    }

    &__widgets {
        display: flex;
        justify-content: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        margin-top: auto;

        @include mq('site-header') {
            display: flex;
            height: 100%;
            flex-flow: row nowrap;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
            margin: 0;
        }
    }

    .header-search {
        --input--color--focus: var(--color--brand-1);
        --input--placeholder-color: hsla(var(--color--brand-1--hsl), 0.8);

        position: absolute;
        top: var(--site-header--bottom);
        right: 0;
        left: 0;
        width: 100%;
    }
}
