@import './menu';

// These are set as SCSS variables so they can be used in the color-context mixin
$site-header--bottom--background: 'brand-1';
$site-header--top--background: 'white';

:root {
    --site-header--bottom: auto;
    --site-header--menu--duration: 250ms;
    --site-header--menu--ease: ease-in-out;

    // Submenu variables
    --submenu--transition-duration: 200ms;
    --submenu--transition-ease: ease-out;

    @include mq('site-header') {
        --submenu--transition-duration: 250ms;
    }
}

body {
    @include mq('site-header') {
        --site-header--height: #{px-to-rem(160)};

        transition: padding-top var(--site-header--menu--duration) var(--site-header--menu--ease);

        &.scrolling-down.scroll-valid {
            --site-header--height: #{px-to-rem(64)};

            padding-top: calc(160px - 64px);
        }
    }
}

.site-header {
    --site-header--height: 6.5rem;
    --site-header--logo-width: #{px-to-rem(120)};

    --site-header--spacing: var(--space--m);

    --site-header--button-size: #{px-to-rem(45)};

    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);

    $this: &;

    $internal-z-index: 10;

    position: sticky;
    top: var(--wp--admin-bar-height);
    z-index: var(--z-index--site-header);
    width: 100%;
    height: var(--site-header--height);
    background-color: var(--color--#{$site-header--bottom--background});
    transition: height var(--site-header--menu--duration) var(--site-header--menu--ease);
    border-bottom: 1px solid transparent;

    @include mq('site-header') {
        --site-header--spacing: var(--space--l);
        --site-header--logo-width: #{px-to-rem(210)};
        --site-header--height: #{px-to-rem(160)};
        --site-header--button-size: #{px-to-rem(42)};

        background-color: var(--color--white);

        .scroll-valid & {
            border-bottom-color: var(--color--brand-1);
        }

        .scrolling-down.scroll-valid & {
            --site-header--height: #{px-to-rem(64)};
            --site-header--logo-width: #{px-to-rem(160)};

            overflow: hidden;
            box-shadow: var(--box-shadow--1);
        }
    }

    @include mq($until: 'site-header') {
        max-width: 100%;
        background-color: var(--color--brand-2);

        #{$this}__inner {
            max-width: 100%;
        }

        &.is-open {
            height: var(--site-header--height);
            transition: height var(--site-header--menu--duration) 0;
            background-color: #ffffff;

            #{$this}__inner {
                height: max-content;

                &__navigation {
                    background-color: var(--color--brand-1);
                }
            }
        }
    }

    &__inner {
        @include align-width--l;

        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 0;

        @include mq('site-header') {
            gap: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__top-navigation {
        display: flex;
        gap: var(--space--s);
        z-index: $internal-z-index * 2;

        @include mq('site-header') {
            width: 100%;
            background-color: var(--color--brand-2);
        }

        .site-header__navigation--top {
            @include mq('site-header') {
                width: max-content;
            }
        }

        .menu-list {
            margin-top: 0;
            padding-right: var(--space--container-padding);
            padding-left: var(--space--container-padding);
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: var(--space--3xs);

            @include mq('site-header') {
                margin: 0;
                padding-right: 0;
                padding-left: 0;
            }
        }

        .menu-item {
            padding: var(--space--3xs) var(--space--3xs);
            flex-shrink: 0;
            letter-spacing: 1.5px;

            .menu-item__wrap > a {
                @include typestyle-h6;
            }
        }

        .menu-item--depth-0 > .menu-item__wrap > a {
            font-weight: 400;
            font-family: var(--type--1--font-family);
        }

        .menu-item--current {
            background-color: var(--color--brand-1);
            border-top: 0 !important;
            text-decoration: underline;

            &.menu-item--depth-0 > .menu-item__wrap > a {
                font-weight: 700;
            }
        }

        .menu-item__wrap {
            min-height: auto;
        }

        .menu-item.is-active {
            background-color: var(--color--brand-1);
            border-top: 0;

            > .menu-item__wrap > a {
                font-weight: 600;
                font-family: var(--type--3--font-family);
                cursor: default;
                pointer-events: none;
                text-decoration: underline;

                @include interact {
                    text-decoration: none;
                }
            }
        }

        .language-switcher {
            display: none;

            @include mq('site-header') {
                display: block;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        gap: var(--site-header--spacing);
        justify-content: center;
        margin-top: var(--space--2xs);

        @include mq('site-header') {
            width: 100%;
            margin-top: 0;
            padding-right: 0;
            padding-left: 0;
            background-color: var(--color--brand-2);
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: all var(--site-header--menu--duration) var(--site-header--menu--ease);

        @include mq($until: 'site-header') {
            --link--color: var(--color--foreground);
            --link--color--hover: var(--color--foreground);

            @include color-context($site-header--bottom--background);

            overflow: auto;
            width: 100%;
            background: var(--color--#{$site-header--bottom--background});
            grid-auto-flow: row;
            grid-template-columns: min(100%, #{px-to-rem(300)});
            opacity: 0;
            pointer-events: none;
            visibility: hidden;

            .site-header.is-open & {
                opacity: 1;
                pointer-events: all;
                transition: all var(--site-header--menu--duration) var(--site-header--menu--ease)
                    var(--site-header--menu--duration);
                visibility: visible;
                padding-top: 0;
                position: absolute;
                top: var(--site-header--height);
                left: 0;

                #{$this}__navigation {
                    background-color: var(--color--#{$site-header--bottom--background});
                    width: 100%;
                }
            }

            > * {
                padding-right: var(--space--container-padding);
                padding-left: var(--space--container-padding);
            }

            > *:first-child {
                padding-top: var(--site-header--spacing);
            }

            > *:last-child {
                padding-bottom: var(--site-header--spacing);
            }
        }

        .site-header__navigation {
            transition-property: translate visibility;
            transition-duration: var(--site-header--menu--duration);
            transition-timing-function: var(--site-header--menu--ease);
        }

        @include mq('site-header') {
            @include align-width--l;

            justify-content: center;
            padding-top: var(--space--2xs);
            gap: var(--site-header--spacing);
            display: grid;
            grid-auto-rows: min-content;
            grid-template-rows: auto;
            width: auto;
            align-items: center;

            .scrolling-down.scroll-valid & .site-header__navigation {
                translate: 0 -100%;
                z-index: -1;
                visibility: hidden;
            }
        }
    }

    &__buttons {
        z-index: $internal-z-index * 4;
        display: flex;
        gap: var(--space--2xs);
        margin-left: auto;

        @include mq('site-header') {
            margin-left: 0;
        }
    }

    &__burger {
        --burger--color: var(--color--black);
        --burger--background-color: transparent;
        --burger--border-color: transparent;

        --burger--color--hover: var(--color--black);
        --burger--background-color--hover: var(--color--brand-1);
        --burger--border-color--hover: transparent;

        --burger--size: var(--site-header--button-size);

        flex: 0 0 auto;
        margin-right: calc(var(--burger--padding) * -0.5);

        @include mq('site-header') {
            display: none;
        }
    }

    &__account-link {
        position: relative;

        display: none;
        width: var(--site-header--button-size);
        height: var(--site-header--button-size);
        flex: 0 0 auto;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        border-radius: 100%;
        margin-left: auto;

        @include mq('site-header') {
            display: flex;
            position: absolute;
            top: 0;
            right: px-to-rem(50);
        }

        &::before {
            width: px-to-rem(20);
            height: px-to-rem(20);
            background: currentColor;
            content: '';
            mask-image: url('./images/icons-custom/account.svg');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            transition: all var(--site-header--menu--duration) var(--site-header--menu--ease);
        }

        &:hover {
            &::before {
                background: var(--color--brand-1);
            }
        }
    }

    &__basket-link {
        position: relative;

        @include mq('site-header') {
            position: absolute;
            top: 0;
            right: px-to-rem(110);
        }

        display: flex;
        gap: var(--space--3xs);
        width: var(--site-header--button-size);
        height: var(--site-header--button-size);
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 100%;
        margin-left: auto;
        text-decoration: none;

        &::before {
            width: px-to-rem(20);
            height: px-to-rem(20);
            flex-shrink: 0;
            background: currentColor;
            content: '';
            mask-image: url('./images/icons-custom/basket.svg');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            transition: all var(--site-header--menu--duration) var(--site-header--menu--ease);
        }

        &:hover {
            color: var(--color--brand-1);
        }
    }

    &__basket-count {
        background-color: var(--color--brand-1);
        color: var(--color--black);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: px-to-rem(24);
        width: px-to-rem(24);
        border-radius: 100%;
        font-size: px-to-rem(12);
    }

    &__search-toggler {
        --button--color: var(--color--black);
        --button--background-color: transparent;
        --button--border-color: transparent;

        --button--color--hover: var(--color--brand-1);
        --button--background-color--hover: transparent;
        --button--border-color--hover: transparent;

        --focus--color: var(--color--foreground);

        position: relative;

        display: flex;
        width: var(--site-header--button-size);
        height: var(--site-header--button-size);
        flex: 0 0 auto;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        border-radius: 100%;
        margin-left: auto;

        @include mq('site-header') {
            position: absolute;
            top: 0;
            right: 0;
        }

        &::before {
            width: px-to-rem(20);
            height: px-to-rem(20);
            background: currentColor;
            content: '';
            mask-image: url('./images/icons/search.svg');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
        }

        &[aria-expanded='true'] {
            --button--color: var(--color--brand-2);
            --button--background-color: var(--color--brand-1);
            --button--border-color: var(--color--brand-1);

            --button--color--hover: var(--color--brand-2);
            --button--background-color--hover: var(--color--brand-1);
            --button--border-color--hover: var(--color--brand-1);
        }
    }

    &__logo {
        display: flex;
        width: var(--site-header--logo-width);
        z-index: $internal-z-index * 3;
        transition: all var(--site-header--menu--duration) var(--site-header--menu--ease)
            calc(var(--site-header--menu--duration) / 2);

        @include mq('site-header') {
            .scrolling-down.scroll-valid & {
                translate: 0 -20px;
                transition-delay: 0s;
            }
        }

        > * {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left center;
        }
    }

    &__widgets {
        display: flex;
        justify-content: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        margin-top: auto;

        @include mq('site-header') {
            display: flex;
            height: 100%;
            flex-flow: row nowrap;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
            margin: 0;
        }
    }

    &__mobile-links {
        display: flex;
        flex-direction: column;
        gap: var(--space--s);
        padding-top: px-to-rem(40);

        @include mq('site-header') {
            display: none;
        }

        & > a {
            display: flex;
            align-items: center;
            gap: var(--space--3xs);
            text-decoration: none;

            &::before {
                width: px-to-rem(20);
                height: px-to-rem(20);
                background: currentColor;
                content: '';
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: contain;
            }
        }

        &__account {
            &::before {
                mask-image: url('./images/icons-custom/account.svg');
            }
        }

        &__help-center {
            &::before {
                mask-image: url('./images/icons-custom/help-center.svg');
            }
        }

        .language-switcher {
            margin-left: 0;
            margin-right: auto;
            padding-left: 0;

            &__items {
                left: 100%;
                bottom: 0;
                top: auto;
            }
        }
    }

    .header-search {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: $internal-z-index * 5;
    }
}
