/* WooCommerce Page Header Styles */
// Speecial adjustments for page header
.woocommerce-order-received .page-header,
.woocommerce-checkout .page-header,
.woocommerce-cart .page-header,
.woocommerce-account .page-header {

    // color context
    --input--color--focus: var(--color--foreground);

    &__breadcrumbs {
        display: none;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__header {
        flex-direction: column-reverse;
    }

    &__heading {
        @include typestyle-h4;
    }

    &__content {

        padding-top: var(--space--xl);
        padding-bottom: var(--space--xl);
        text-align: center;
        justify-content: center;
        align-items: center;

        &--last {
            display: none;
        }
    }

    &__image-wrapper {
        display: none;
    }

    &__inner {
        padding-bottom: var(--space--m);
    }

}


/* Class .woocommerce also set on <body> in WooCommerce pages so we target only blocks */
.blocks > .woocommerce {

    --block--max-width: var(--width--responsive--l);

    max-width: var(--block--max-width);
    margin-left: auto;
    margin-right: auto;
    position: relative;

    // Change container to full width on single product pages
    &:has(.single-product) {
        max-width: 100%;
        .wp-block.product {
            max-width: var(--block--max-width);
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
    }

    // Style WooCommerce notices
    .woocommerce-notices-wrapper > div,
    .woocommerce-NoticeGroup li {
        margin-bottom: var(--space--l);
        padding: var(--space--s) var(--space--s);
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--color--brand-1);
        gap: var(--space--xs);
        border-top: 3px solid transparent;

        &::before {
            flex-shrink: 0;
            width: #{px-to-rem(24)};
            height: #{px-to-rem(24)};
            content: '';
            background-image: url(#{asset-path('images/icons-custom/tick.svg')});
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-size: #{px-to-rem(24)} #{px-to-rem(24)};
        }

        a {
            @include typestyle-h6;
            font-weight: normal;
            text-transform: uppercase;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: var(--space--s);
            margin-left: auto;

            &::after {
                width: #{px-to-rem(16)};
                height: #{px-to-rem(16)};
                background-color: var(--color--foreground);
                content: '';
                mask-image: url(#{asset-path('images/icons/chevron-right.svg')});
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: #{px-to-rem(16)};
            }

        }

        // Success notice specific styles
        &.woocommerce-message {
            border-color: var(--color--brand-4);
        }

        &.woocommerce-error {
            border-color: var(--color--brand-3);
            &::before {
                background-image: url(#{asset-path('images/icons-custom/union.svg')});
            }
        }
    }

    // Quantity input styles
    .quantity-wrapper {

        display: flex;
        flex-direction: column;
        gap: var(--space--2xs);

        .quantity-label {
            @include typestyle-h6;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
        }

        .quantity {

            display: flex;
            align-items: center;
            border: 1px solid var(--color--black);
            width: fit-content;
            padding: 0;

            input[type="number"] {
                --input--background-color: transparent;
                --input--color: var(--color--black);
                --input--color--focus: var(--color--black);
                border-left: 1px solid var(--color--black);
                border-right: 1px solid var(--color--black);
                text-align: center;
                width: 3rem;
                height: 3rem;
                padding: 0 var(--space--3xs);
                font-weight: 600;
                -moz-appearance: textfield;
                user-select: none;

                
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &:focus {
                    outline: none;
                }
            }

            .quantity-button {
                background: transparent;
                font-size: 20px;
                font-weight: 400;
                line-height: 1;
                cursor: pointer;
                padding: 0 var(--space--xs);
                width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color--black);
            }

        }

        .quantity-wastage {
            &-label {
                display: flex;
                align-items: center;
                gap: var(--space--3xs);
                cursor: pointer;
                margin: 0;
                @include typestyle-small;

                input[type="checkbox"] {
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    margin: 0;
                }

                span {
                    user-select: none;
                }
            }
        }
    }

    // Cart item card (used in cart and checkout review order)
    .cart__item {

        $this: &;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--space--m);
        padding-bottom: var(--space--xl);
        border-bottom: 1px solid var(--color--brand-5);

        &__image {

            a {
                width: #{px-to-rem(112)};
                aspect-ratio: 1 / 1;
                display: flex;

                @include mq('large') {
                    width: #{px-to-rem(144)};
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__details {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: var(--space--s);
            justify-content: space-between;

            &__name,
            &__colour {
                @include typestyle-h5;
                @include typestyle-xlarge;
                margin: 0;
                a {
                    color: var(--color--black);
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }

            &__attribute {
                @include typestyle-small;
                margin-top: var(--space--xs);
            }

            .product-price {
                @include typestyle-small;
            }

            &__name {
                font-weight: 400;
            }

            &__colour {
                font-weight: 300;
            }

            &__top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: start;
                padding-bottom: var(--space--xs);
                border-bottom: 1px solid var(--color--brand-1);

                &--left {
                    display: flex;
                    flex-direction: column;
                }

                &--right {
                    @include typestyle-h6;
                    text-transform: uppercase;
                    letter-spacing: 0;
                    font-weight: 600;
                    flex-shrink: 0;
                }
            }

            &__bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap : var(--space--s);

                &--left {
                    .actual-quantity {
                        @include typestyle-small;
                        margin-bottom: var(--space--3xs);
                    }
                }
            }
        }

        // Amends for smaller card (checkout review order or perhaps minicart in the future)
        &.small {

            padding-bottom: var(--space--s);
            border-bottom: 1px solid var(--color--brand-5);

            .cart__item__image {
                width: #{px-to-rem(72)};
                height: #{px-to-rem(72)};
                aspect-ratio: 1 / 1;
                display: flex;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .actual-quantity {
                margin-bottom: 0;
            }

            .cart__item__details {
                gap: var(--space--2xs);
                &__top {
                    padding-bottom: var(--space--3xs);
                }

                &__name,
                &__colour {
                    @include typestyle-h6;
                    font-weight: 300;
                }

                &__name {
                    font-weight: 600;
                }
            }

        }
    }
    

}