.people {
    --input--border-radius: 0px;

    &__items {
        @include grid(1, 2, 3);

        gap: var(--space--xs);

        > * {
            width: 100%;
            border: 1px dashed var(--color--foreground);
            margin: 0 !important;
        }
    }
}
