.breadcrumbs {
    @include typestyle-small;

    width: 100%;

    &__yoast-wrapper {
        display: inline-block;
        max-width: max-content;
        flex-flow: row nowrap;
        align-items: center;
        transition: transition(max-width);
        flex-wrap: wrap;
    }

    &__yoast-separator {
        padding-inline: 0.7ch;
        color: var(--color--brand-4);

        &:nth-last-child(2) {
            
            .search-results & {
                display: inline;
            }
        }
    }

    .breadcrumb_last {
        font-weight: var(--type--2--font-weight);
        text-decoration: underline;

        .search-results & {
            display: inline;
        }
    }

    a {
        @include link--2;
    }
}
