.breadcrumbs {
    @include typestyle-small;

    width: 100%;

    &__yoast-wrapper {
        display: inline-block;
        overflow: hidden;
        max-width: min(35ch, 100%);
        flex-flow: row nowrap;
        align-items: center;
        text-overflow: ellipsis;
        transition: transition(max-width);
        white-space: nowrap;

        &:hover,
        &:focus {
            overflow: auto;
            max-width: 100%;
            flex-wrap: wrap;
            text-overflow: unset;
        }
    }

    &__yoast-separator {
        padding-inline: 0.7ch;

        &:nth-last-child(2) {
            display: none;

            .search-results & {
                display: inline;
            }
        }
    }

    .breadcrumb_last {
        display: none;
        font-weight: var(--type--2--font-weight);
        text-decoration: underline;

        .search-results & {
            display: inline;
        }
    }

    a {
        @include link--2;
    }
}
