@mixin site-footer-divider {
    border-top: 1px solid var(--color--brand-1);
    padding-top: var(--flex-column--gap);
}

.site-footer {
    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);
    --site-footer__images--aspect-ratio: 28 / 13;
    --site-footer--padding--block: var(--space--xl);
    --site-footer--logo-width: #{px-to-rem(169)};
    --flex-column--gap: var(--space--l);

    $this: &;

    padding-block: var(--site-footer--padding--block);

    @include mq(large) {
        --site-footer--padding--block: var(--space--2xl);
        --site-footer--logo-width: #{px-to-rem(210)};
    }

    // -------------------------------------------------------------------------
    // Logo.
    // -------------------------------------------------------------------------
    &__logo {
        align-items: center;

        a {
            display: inline-block;
            width: 100%;
            max-width: var(--site-footer--logo-width);
        }
    }

    // -------------------------------------------------------------------------
    // Menus.
    // -------------------------------------------------------------------------
    &__menus {
        --grid--row-gap: var(--space--l);

        @include site-footer-divider();
        @include grid(1, 2, 5);

        @include mq(large) {
            --grid--column-gap: var(--space--2xl);
        }
    }

    &__menu {
        $menu: &;

        &__inner {
            @include list-reset-hard;

            display: grid;
            gap: var(--space--s);

            @include list-reset-hard--li;
        }

        .menu-list {
            gap: var(--space--xs);

            &[aria-hidden="true"] {
                display: none;
                visibility: hidden;
            }

            &:not([aria-hidden="true"]) {
                display: grid;
                visibility: visible;
            }
        }

        a {
            @include link--2;

            @include mq($until: medium) {
                font-family: var(--type--2--font-family);
                font-weight: var(--type--2--font-weight);

            }
        }
    }

    .menu__heading {
        @include typestyle-h6;
    }

    .menu__heading__button {
        --button--background-color: var(--color--brand-1);
        --button--border-color: var(--color--brand-1);
        --button--size: #{px-to-rem(28)};

        rotate: 90deg;

        @include mq(medium) {
            display: none;
            visibility: hidden;
        }

        &-wrap {
            @include mq($until: medium) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }


    // -------------------------------------------------------------------------
    // Socials.
    // -------------------------------------------------------------------------
    &__socials-text {
        --link--color: currentColor;
        --flex-column--gap: var(--space--m);

        @include site-footer-divider();

        align-items: center;
        color: var(--color--charcoal);
        text-align: center;
    }
}
