.gallery-video {
    $this: &;

    &__inner {
        max-width: var(--width--responsive--l);
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: var(--space--3xl) 0;

        @include mq(large) {
            padding: var(--space--3xl) 0;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: var(--space--3xs);
        margin-bottom: var(--space--l);
        max-width: 100%;

        @include mq(large) {
            max-width: 75%;
        }
    }

    &__preheading {
        @include typestyle-h6;
    }

    &__heading {
        @include typestyle-h3;

        margin: 0;
    }

    &--single {
        #{$this}__content {
            display: flex;
            gap: var(--space--m);
        }
    }

    &--multiple {
        #{$this}__content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: var(--space--m);
            row-gap: var(--space--2xl);

            @include mq(large) {
                gap: var(--space--2xl);
                flex-direction: row;
            }
        }
    }

    &__sidebar-wrapper {
        overflow-x: auto;

        @include mq(large) {
            overflow-x: visible;
        }

        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--color--foreground);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color--brand-4);
            border-radius: 0px;
        }
    }

    &__sidebar {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        gap: var(--space--xs);
        overflow-x: auto;
        width: max-content;
        padding-bottom: var(--space--l);

        @include mq(large) {
            gap: var(--space--s);
            flex-direction: column;
            padding-bottom: 0;
        }
    }

    &__thumbnail {
        @include button-reset-hard;

        flex-shrink: 0;
        width: #{px-to-rem(128)};
        aspect-ratio: 16 / 9;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 4px solid var(--color--foreground);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &--active {
            &::after {
                opacity: 1;
            }
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include mq(large) {
            width: #{px-to-rem(168)};
        }
    }

    &__player {
        width: 100%;
        position: relative;
        aspect-ratio: 16 / 9;
    }

    &__video {
        display: grid;
        width: 100%;
        position: absolute;
        inset: 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition:
            opacity 0.2s ease,
            visibility 0.2s ease;

        &--active {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__cover {
        aspect-ratio: 16 / 9;
        overflow: hidden;
        cursor: pointer;
        grid-row: 1;
        grid-column: 1;
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__play-button {
        @include button-reset-hard;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: #{px-to-rem(68)};
        height: #{px-to-rem(68)};
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color--white);
        border-radius: 50%;
        transition: transform 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
        grid-row: 1;
        grid-column: 1;

        iframe {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: var(--space--3xs);
        gap: var(--space--m);

        &__play {
            @include button-reset-hard;
            display: flex;
            align-items: center;
            gap: var(--space--3xs);
            flex-shrink: 0;
            cursor: pointer;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.7;
            }

            &__text {
                @include typestyle-small;
            }

            &__icon {
                width: #{px-to-rem(28)};
                height: #{px-to-rem(28)};
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__captions {
        display: flex;
        flex-direction: column;
        gap: 0;

        #{$this}__caption {
            letter-spacing: 1.5px;
        }

        #{$this}__subcaption {
            font-weight: var(--type--2--font-weight);
            letter-spacing: 1.5px;
        }
    }

    // Active state when video is playing
    &--playing {
        #{$this}__cover {
            opacity: 0;
            visibility: hidden;
        }

        #{$this}__iframe {
            opacity: 1;
            visibility: visible;
        }
    }
}
