@import '../../../core';

.media-content {
    --media-object--media--min-height: #{px-to-rem(300)};

    $this: &;
    $media-object: '.media-object';

    z-index: 0;

    &:has(.video-item.video-item--play) {
        z-index: 999;
    }

    @include mq($until: medium) {
        --media-object--gap: var(--space--s);
    }

    @include mq(medium) {
        --media-object--media--min-height: 100%;
        --media-object--gap: var(--space--m);
        --media-object--media--ratio: 1 / 1;
        --media-object--content--justify-content: center;
    }

    @include mq(large) {
        --media-object--gap: var(--space--xl);
    }

    #{$media-object} {
        &__heading {
            @include typestyle-h1;

            line-height: 1.15;
            letter-spacing: 0.14em;

            @include mq(medium, $until: large) {
                @include typestyle-h2;
            }
        }

        &__buttons {
            --flex-column--gap: var(--space--s);

            @include mq(medium) {
                --media-object--content--justify-content: flex-start;
                align-items: center;
            }
        }

        &__media {
            aspect-ratio: 1 / 1;
            max-width: 100%;

            @include mq($until: large) {
                order: -1;
            }

            img {
                aspect-ratio: 1 / 1;

                @include mq($until: medium) {
                    position: relative;
                }
            }

            .video-item {
                aspect-ratio: 1 / 1;
            }
        }
    }

    &:not(.has-background) {
        &.alignfull #{$media-object}__content {
            @include mq(medium) {
                padding-inline: var(--space--container-padding);
            }
        }

        &.aligncenter {
            --media-object--gap: var(--space--s);
        }
    }

    // Make it containerised on full align
    &.alignfull {
        #{$media-object}__inner {
            @include align-width--l;
        }
    }

    &.has-background {
        @include mq(medium) {
            --media-object--inner-padding-x: 0;
        }

        #{$media-object}__inner {
            padding-block: var(--space--xl);

            @include mq(large) {
                padding-block: var(--space--2xl);
            }
        }

        &[data-media-position='after'] {
            #{$media-object}__content {
                @include mq(medium) {
                    padding-inline-start: var(--media-object--gap);
                }
            }
        }

        &[data-media-position='before'] {
            #{$media-object}__content {
                @include mq(medium) {
                    padding-inline-end: var(--media-object--gap);
                }
            }
        }
    }

    &[data-orientation='horizontal'][data-media] {
        @include mq(medium) {
            --media-object--media--ratio: 1 / 1;
        }
    }

    // -------------------------------------------------------------------------
    // Heading inset.
    // -------------------------------------------------------------------------
    &--has-heading-inset {
        #{$media-object}__heading {
            display: flex;
            flex-flow: column;
        }

        #{$media-object}__heading-primary {
            align-self: flex-start;
        }

        #{$media-object}__heading-secondary {
            align-self: flex-end;
        }
    }

    #{$media-object}__subheading {
        a {
            --link--text-decoration: underline;
            --link--text-decoration--hover: none;
        }
    }

    ul.list {
        flex-direction: row;
        flex-wrap: wrap;

        li {
            display: flex;
            width: max-content;
            align-items: center;
        }
    }
}
