@import '../../../core';

.call-to-action {
    // Padding.
    padding-top: px-to-rem(64);
    padding-bottom: px-to-rem(64);

    &__inner {
        margin: auto;

        @include mq(large) {
            max-width: 972px;
        }
    }

    // -------------------------------------------------------------------------
    // Content.
    // -------------------------------------------------------------------------
    &__content {
        @include no-first-last-margin;

        margin-top: var(--space--xl);
        line-height: 1.6;

        @include mq(large) {
            column-count: 2;
            gap: var(--space--xl);
        }
    }

    // -------------------------------------------------------------------------
    // Heading inset.
    // -------------------------------------------------------------------------
    &--has-heading-inset {
        .call-to-action__heading {
            display: flex;
            flex-flow: column;

            @include mq(medium) {
                @include typestyle-h2;
            }

            @include mq(large) {
                margin-left: var(--space--xl);
                margin-right: var(--space--xl);
                font-size: px-to-rem(56);
            }
        }

        .call-to-action__heading-primary {
            align-self: flex-start;
        }

        .call-to-action__heading-secondary {
            align-self: flex-end;
        }
    }

    // -------------------------------------------------------------------------
    // Buttons.
    // -------------------------------------------------------------------------
    &__buttons {
        gap: var(--space--m);

        .g-button {
            width: auto;
        }
    }

    // -------------------------------------------------------------------------
    // Image.
    // -------------------------------------------------------------------------
    &__image {
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }
}
