.woocommerce {
    // all form fields (global scope)
    .form-row {
        //span both columns for full width fields
        &.form-row-wide {
            grid-column: span 2;
        }

        margin: 0;

        label {
            @include typestyle-small;
            margin: 0;
        }

        input,
        input[type='password'],
        .select2 {
            --input--color: var(--color--foreground);
            --input--color--focus: var(--color--foreground);
            --input--placeholder-color: var(--color--brand-1);
            --input--background-color: var(--color--brand-2);
            --input--border-color: var(--color--foreground);
            --input--border-color--focus: var(--color--foreground);
            --input--border-width--focus: 1px;
            --input--border-width: 1px;
        }

        .select2-selection.select2-selection--single {
            height: auto;
            border: 0;
            background: transparent;
        }

        .select2-selection__rendered {
            @include input;
        }

        .select2-selection__arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.75rem;

            & b {
                border-color: #000 transparent transparent transparent;
                border-style: solid;
                border-width: 8px 6px 0 6px;
            }
        }

        button.show-password-input {
            position: absolute;
            top: 50%;
            right: var(--space--m);
            transform: translateY(-50%);
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;

            svg {
                width: #{px-to-rem(20)};
                height: #{px-to-rem(20)};
                fill: var(--color--brand-1);
            }
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space--m);

        .wc-submit-order button,
        button[type='submit'] {
            @include button;
            @include button--interaction;
            @include button--solid;
        }

        .back-to-cart a {
            @include typestyle-h6;
            font-weight: normal;
            text-transform: uppercase;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: var(--space--s);
            margin-left: auto;

            &::before {
                transform: rotate(180deg);
                width: #{px-to-rem(16)};
                height: #{px-to-rem(16)};
                background-color: var(--color--foreground);
                content: '';
                mask-image: url(#{asset-path('images/icons/chevron-right.svg')});
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: #{px-to-rem(16)};
            }
        }
    }

    .checkout {
        // Right column - order summary
        &__summary {
            display: flex;
            flex-direction: column;
            gap: var(--space--m);

            &__items {
                display: flex;
                flex-direction: column;
                gap: var(--space--m);
            }

            &__coupon {
                display: flex;
                flex-direction: column;
                gap: var(--space--xs);
                padding: var(--space--s) 0;
                border-bottom: 1px solid var(--color--brand-5);

                .form-row,
                form {
                    display: flex;
                    flex-direction: column;
                    gap: var(--space--xs);
                }

                button {
                    @include button;
                    @include button--interaction;
                    width: fit-content;
                }

                a.showcoupon {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-decoration: none;
                }

                .label {
                    @include typestyle-h6;
                    @include typestyle-xlarge;
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: #{px-to-rem(32)};
                    height: #{px-to-rem(32)};
                    fill: var(--color--foreground);
                    padding: 4px;
                    background-color: var(--color--brand-1);

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &__totals {
                display: flex;
                flex-direction: column;
                gap: var(--space--s);
                padding: var(--space--s) 0;

                &__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .label {
                        @include typestyle-h5;
                        @include typestyle-xlarge;
                    }

                    .value {
                        @include typestyle-base;
                        font-weight: 600;
                    }
                }

                .order-total {
                    padding-top: var(--space--s);
                    border-top: 1px solid var(--color--brand-5);
                }
            }
        }
    }
}
