.woocommerce {

    &__section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color--brand-5);
        padding: var(--space--2xs) var(--space--xs);

        &-item {
            color: var(--color--brand-2);
        }
    }

    .cart {

        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space--xl);

        @include mq('large') {
            grid-template-columns: 2fr 1fr;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            gap: var(--space--xl);
        }

        &__items {
            display: flex;
            flex-direction: column;
            gap: var(--space--xl);
        }

        button[type="submit"] {
            display: none;
        }

        &__actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--space--m);

            .wc-proceed-to-checkout a {
                @include button;
                @include button--interaction;
                @include button--solid;
            }

            .back-to-shop a {
                @include typestyle-h6;
                font-weight: normal;
                text-transform: uppercase;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: var(--space--s);
                margin-left: auto;

                &::before {
                    transform: rotate(180deg);
                    width: #{px-to-rem(16)};
                    height: #{px-to-rem(16)};
                    background-color: var(--color--foreground);
                    content: '';
                    mask-image: url(#{asset-path('images/icons/chevron-right.svg')});
                    mask-position: center;
                    mask-repeat: no-repeat;
                    mask-size: #{px-to-rem(16)};
                }

            }

        }

        &__totals {
            display: flex;
            flex-direction: column;
            gap: var(--space--s);

            &__items {
                display: flex;
                flex-direction: column;
                gap: var(--space--s);
            }

            &__item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &--label,
                &--value {
                    @include typestyle-h6;
                    text-decoration: uppercase;
                    letter-spacing: 1px;
                    font-weight: 600;
                }

                &.order-total {
                    border-top: 2px solid var(--color--brand-1);
                    padding-top: var(--space--s);
                }
            }
        }

    }

}