.wp-block-buttons {
    @include flex-list;
    margin-top: var(--space--base);
    margin-bottom: var(--space--base);

    column-gap: var(--space--m);
    row-gap: var(--space--s);
}

.wp-block-button {
    &__link {
        @include button;
        @include button--interaction;
    }

    &.aligncenter {
        margin-top: var(--space--base);
        margin-bottom: var(--space--base);
    }

    &.alignleft,
    &.alignright {
        width: auto;
        margin-top: 0.4em;
    }
}
