@import '../../../core';

.hero-header {
    $this: &;

    --hero-header--image: '';

    &__inner {
        max-width: var(--width--responsive--l);
        margin-left: auto;
        margin-right: auto;
        padding-block: var(--space--xl);
    }

    &__heading {
        @include typestyle-h3;
    }

    &__image {
        display: grid;

        > img {
            display: block;
            grid-row: 1;
            grid-column: 1;
            width: 100%;
        }
    }

    &__strapline {
        display: block;
        padding-top: var(--space--xl);
        padding-bottom: calc(var(--space--s) * 2);
        margin: 0;
        background-image: var(--hero-header--image);
        background-clip: text;
        background-size: 100% auto;
        background-position: top center;
        color: transparent; // essential for background clipping magic.
        font-weight: var(--type--1--font-weight);
        font-size: rfs(30, 102);
        letter-spacing: 0.015em; // magic number.
        line-height: rfs(30, 80);
        text-transform: none;
        text-align: center;

        &-wrapper {
            width: 100%;
            grid-row: 1;
            grid-column: 1;
            align-self: start;
            background-color: var(--color--background);
            z-index: 100;
        }
    }
}
