@import '../../../core';

.hero-header {
    $this: &;

    --hero-header--image: '';

    &__inner {
        display: grid;
        max-width: var(--width--responsive--l);
        margin-left: auto;
        margin-right: auto;
        padding-block: var(--space--xl);
        gap: var(--space--xl);
    }

    &__heading {
        @include typestyle-h3;
    }

    &__image {
        display: grid;
        aspect-ratio: 16 / 9;

        > img {
            display: block;
            grid-row: 1;
            grid-column: 1;
            width: 100%;
        }
    }

    &__strapline {
        display: block;
        padding-top: var(--space--4sx);
        padding-bottom: var(--space--2xs);
        margin: 0;
        background-image: var(--hero-header--image);
        background-clip: text;
        background-size: 100% auto;
        background-position: top center;
        color: transparent; // essential for background clipping magic.
        font-weight: var(--type--1--font-weight);
        font-size: rfs(30, 102);
        letter-spacing: 0.015em; // magic number.
        line-height: rfs(30, 80);
        text-transform: none;
        text-align: center;

        @include mq(medium) {
            padding-top: var(--space--xl);
            padding-bottom: calc(var(--space--s) * 2);
        }

        &-wrapper {
            width: 100%;
            grid-row: 1;
            grid-column: 1;
            align-self: start;
            background-color: var(--color--background);
            z-index: 100;
        }
    }

    &__header {
        display: grid;
        gap: var(--space--xl);

        @include mq(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__content {
        display: grid;
        justify-items: start;
    }

    &__heading {
        margin: 0;

        &:not(:first-child) {
            margin-top: var(--space--2xs);
        }
    }

    &__link {
        &:not(:first-child) {
            margin-top: var(--space--m);
        }
    }

    &__ctas {
        display: grid;
        gap: var(--space--xl);

        @include mq(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__cta {
        display: grid;
        gap: var(--space--2xs);
    }

    &__cta-image {
        &--mobile {
            width: 100%;

            @include mq(medium) {
                display: none;
            }
        }

        &--desktop {
            @include mq($until: medium) {
                display: none;
            }
        }
    }

    &__cta-link {
        @include typestyle-h6;
        @include link--2;
        @include mask-icon('after');

        width: 100%;
        display: inline-flex;
        justify-content: space-between;

        &::after {
            --mask-icon--size: #{px-to-rem(24)};

            display: block;
            width: px-to-rem(24);
            height: px-to-rem(24);
            mask-image: url(#{asset-path('images/icons/chevron-right.svg')});
        }
    }
}
