.header-search {
    $this: &;

    display: grid;
    align-content: center;
    padding: var(--space--2xl) var(--space--2xl) var(--space--xl);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--submenu--transition-duration) var(--submenu--transition-ease),
        transform var(--submenu--transition-duration) var(--submenu--transition-ease),
        visibility var(--submenu--transition-duration);
    visibility: hidden;

    &:not([hidden]) {
        --submenu--z-index: 2;

        display: block;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;

        > a {
            color: var(--link--color--hover);
        }
    }

    &__inner {
        @include align-width--l;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space--xl);
        align-items: center;
    }

    &__label {
        @include heading-attributes;
        @include typestyle-xlarge;

        grid-row: 1;
        grid-column: 1;
        font-weight: var(--type--3--font-weight);
        text-transform: uppercase;

        @include mq($until: 'site-header') {
            display: none;
        }
    }

    &__close {
        @include button-reset-hard;
        @include typestyle-small;
        @include mask-icon;

        position: absolute;
        top: var(--space--4xs);
        right: var(--space--3xs);
        display: inline-flex;
        width: max-content;
        align-items: center;
        gap: var(--space--4xs);

        &::after {
            --icon-size: #{px-to-rem(18)};

            display: block;
            width: var(--icon-size);
            height: var(--icon-size);
            mask-image: url(#{asset-path('images/icons/cross.svg')});
        }
    }
}
