// ---------------------------------------------------
// Type Style Mixins
// ---------------------------------------------------

@mixin typestyle-base {
    font-family: var(--type--1--font-family);
    font-size: var(--type--font-size--base);
    font-weight: var(--type--1--font-weight);
    line-height: var(--type--1--line-height);
}

@mixin typestyle-small {
    font-size: rfs(16, 16);
}

@mixin typestyle-large {
    font-size: rfs(18, 20);
}

@mixin typestyle-xlarge {
    font-size: rfs(20, 24);
}

@mixin typestyle-meta {
    font-size: rfs(14, 15);
    font-family: var(--type--3--font-family);
    font-weight: var(--type--3--font-weight);
    line-height: 132%; /* 19.8px */
    text-transform: uppercase;
    font-variant-numeric: lining-nums;
    letter-spacing: calc(var(--type--font-size--base) * 0.1167);
}

@mixin heading-attributes {
    line-height: 1.36;
    font-weight: var(--type--1--font-weight);
    letter-spacing: 0.14em; // 14%

    // Make a tags that are children of headings inherit styling
    a {
        color: inherit;
    }
}

@mixin typestyle-h1 {
    @include heading-attributes;

    font-size: rfs(32, 56);
    text-transform: uppercase;
}

@mixin typestyle-h2 {
    @include heading-attributes;

    font-size: rfs(28, 48);
    text-transform: uppercase;
}

@mixin typestyle-h3 {
    @include heading-attributes;

    font-size: rfs(24, 36);
}

@mixin typestyle-h4 {
    @include heading-attributes;

    font-size: rfs(22, 32);
}

@mixin typestyle-h5 {
    @include heading-attributes;

    font-size: rfs(18, 28);
    font-family: var(--type--3--font-family);
    font-weight: var(--type--3--font-weight);
    text-transform: uppercase;
}

@mixin typestyle-h6 {
    @include heading-attributes;

    font-size: rfs(14, 15);
    font-family: var(--type--3--font-family);
    font-weight: var(--type--3--font-weight);
    text-transform: uppercase;
}
