 @import '../../../core';

.quote {
    $this: &;

    &__inner {
        --grid--row-gap: var(--space--l);
        @include align-width--l;
        @include grid(1, 2);

        @include align-width--l;

        @include mq(medium) {
            --grid--column-gap: var(--space--xl);

            align-items: flex-start;
        }

        @include mq(xlarge) {
            align-items: center;
        }
    }

    // -------------------------------------------------------------------------
    // Image
    // -------------------------------------------------------------------------
    &__image {
        aspect-ratio: 1 / 1;

        &-inner {
            aspect-ratio: 1 / 1;

            > * {
                height: 100%;
                width: auto;
                max-width: initial;
            }
        }
    }

    // -------------------------------------------------------------------------
    // Testimonial
    // -------------------------------------------------------------------------
    &__testimonial {
        font-family: var(--type--2--font-family);
        font-weight: var(--type--2--font-weight);
        font-size: #{rfs(20, 26)};
        margin-bottom: var(--space--s);
    }

    &__name {
        font-family: var(--type--2--font-family);
        font-weight: var(--type--2--font-weight);
        text-transform: uppercase;
        font-size: #{rfs(14, 15)};
        opacity: 0.8;
    }

    &__affiliation {
        font-size: #{rfs(14, 15)};
        text-transform: uppercase;
        opacity: 0.8;
    }

    &__citation {
        font-style: initial;
        letter-spacing: 1.5px;
    }

    // -------------------------------------------------------------------------
    // Single quote styles.
    // -------------------------------------------------------------------------
    &:not(.quote--testimonial) {
        --quote--media-size: #{px-to-rem(160)};

        @include mq(medium) {
            --quote--media-size: #{px-to-rem(288)};
        }

        #{$this}__image {
            width: var(--quote--media-size);
            height: var(--quote--media-size);
        }

        #{$this}__inner {
            @include mq(medium) {
                grid-template-columns: var(--quote--media-size) 1fr;
            }
        }

        &.has-background {
            padding: var(--space--s);

            @include mq(medium) {
                padding: var(--space--s);
            }

            @include mq(large) {
                padding: var(--space--2xl) var(--space--2xl);
            }
        }
    }
}
