@import '../../../core';

.media-content {
    --media-content--aspect-ratio: 16 / 9;
    // --media-content--inner-padding-x: 0px;
    // --media-content--inner-padding-x: var(--space--l);
    --media-content--inner-padding-y: var(--block--padding-y);
    --media-content--content--max-width: #{px-to-rem(450)};
    --media-content--gap: var(--space--responsive--xl);

    $this: &;

    // Image inset - if false, the image will have no padding around it.
    // Consider also adding 'has-background' class to the block if styled like this to manage block margins.
    $media-content-inset: true;
    $media-content-breakpoint: medium;

    @include mq($media-content-breakpoint) {
        --media-content--inner-padding-y: var(--block--padding-y);
    }

    &__inner {
        @include align-width--l($media-content-inset);

        display: grid;
        gap: var(--media-content--gap, 0);
        place-items: center;

        @include mq($media-content-breakpoint) {
            --media-content--aspect-ratio: 4 / 3;

            gap: var(--media-content--gap, 0);

            @if $media-content-inset {
                grid-template-areas: 'media content .';
                grid-template-columns: 50% 1fr 0fr;
            } @else {
                grid-template-areas: 'media content';
                // grid-template-columns: 2fr 3fr;
                grid-template-columns: 50% 1fr;
            }
        }
    }

    &:not(.alignfull) {
        @include rounded-corners;

        overflow: visible;
    }

    &.has-background {
        padding-top: var(--media-content--outer-padding-y, 0);
        padding-bottom: var(--media-content--outer-padding-y, 0);
    }

    &__content {
        @include no-first-last-margin;

        width: 100%;
        max-width: var(--media-content--content--max-width);
        padding-inline: var(--media-content--inner-padding-x, 0);

        @include mq($media-content-breakpoint) {
            padding: var(--media-content--inner-padding-y, 0) var(--media-content--inner-padding-x, 0);
            grid-area: content;
        }

        @if $media-content-inset {
            padding-block: var(--media-content--inner-padding-y, 0);
        } @else {
            padding-top: var(--media-content--gap, 0);
        }
    }

    &__media {
        position: relative;
        width: 100%;

        @include mq($media-content-breakpoint) {
            grid-area: media;
        }

        &::before {
            display: block;
            aspect-ratio: var(--media-content--aspect-ratio);
            content: '';
        }

        .video-item {
            position: absolute;
        }

        @if $media-content-inset {
            @include rounded-corners;

            box-shadow: var(--box-shadow--1);
        } @else {
            height: 100%;
        }
    }

    &__heading {
        max-width: var(--heading--max-width);

        + #{$this}__subheading {
            margin-top: calc((var(--heading--margin-bottom) * -1) + var(--space--base));
        }
    }

    &__subheading {
        @include typestyle-h4;

        max-width: var(--heading--max-width);
        margin-top: 0;
    }

    &--right {
        .media-content__inner {
            @include mq($media-content-breakpoint) {
                grid-template-areas: '. content media';
                grid-template-columns: 0fr 1fr 50%;

                @if $media-content-inset {
                    grid-template-areas: '. content media';
                    grid-template-columns: 0fr 1fr 50%;
                }
            }
        }
    }

    &.has-embed {
        .media-content__media {
            @include responsive-embed;
        }
    }

    @if $media-content-inset {
        --media-content--outer-padding-y: var(--block--padding-y);
        --media-content--outer-padding-x: var(--block--padding-x);
        --media-content--inner-padding-y: 0px;
    } @else {
        --media-content--inner-padding-x: var(--space--container-padding);

        @include mq($media-content-breakpoint) {
            --media-content--inner-padding-x: 0;
        }
    }
}
