@import '../../../core';

.pagination {
    --block--margin-top: var(--space--base);
    --block--margin-bottom: var(--space--base);
}

.nav-links {
    --pagination--size: #{px-to-rem(35)};
    --grid--column-gap: var(--space--s);

    @include flex-grid;

    align-items: center;
    justify-content: center;

    @include mq(medium) {
        --pagination--size: #{px-to-rem(35)};
    }

    @include flex-grid--items;
    @include flex-grid--auto;

    > a,
    > .current {
        --button--background-color: var(--color--white);
        --button--border-color: var(--color--white);
        --button--color: var(--color--foreground);

        --button--background-color--hover: var(--color--brand-1);
        --button--border-color--hover: var(--color--brand-1);
        --button--color--hover: var(--color--foreground);

        --button--size: var(--pagination--size);

        @include button;
        @include button--square;
        @include heading-attributes;
        @include typestyle-small;

        width: 2.5rem;
        height: 2.5rem;
        padding-top: 4px;
        box-shadow: var(--box-shadow--1);

        @include button--interaction;

        @include interact {
            box-shadow: var(--box-shadow--1--hover);
        }
    }

    .current {
        --button--background-color: var(--color--brand-1);
        --button--border-color: var(--color--brand-1);
        --button--color: var(--color--foreground);

        cursor: default;
        pointer-events: none;
    }

    .dots {
        display: inline-flex;
        min-width: var(--pagination--size);
        min-height: var(--pagination--size);
        align-items: center;
        justify-content: center;
    }

    .next,
    .prev {
        --button--background-color: var(--color--background);
        --button--border-color: var(--color--brand-2);
        --button--color: var(--color--foreground);

        --button--background-color--hover: var(--color--brand-1);
        --button--border-color--hover: var(--color--brand-2);
        --button--color--hover: var(--color--foreground);

        @include button--icon;
        @include button--square;

        display: inline-block;

        &::after {
            mask-image: url(#{asset-path('images/icons/chevron-right.svg')});
            mask-size: #{px-to-rem(20)};
        }
    }

    // .next {
    // }

    .prev {
        &::after {
            transform: rotate(180deg);
        }
    }
}
