@use 'sass:color';

// ---------------------------------------------------
// Colors
// ---------------------------------------------------
// Gutenberg color palette colors also need to be set in granola/config.php

$colors: (
    'base': (
        'mist': (
            'color': #dedcd2,
            'foreground': 'black',
            'properties': (
                '--link--color': 'black',
                '--link--color--hover': 'black',
            ),
        ),
        'springwood': (
            'color': #f9f7f1,
            'foreground': 'black',
            'properties': (
                '--link--color': var(--color--black),
                '--link--color--hover': var(--color--black),
            ),
        ),
        'charcoal': (
            'color': #575756,
            'foreground': 'white',
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
            ),
        ),
        'olivegreen': (
            'color': #799513,
            'foreground': 'black',
            'properties': (
                '--link--color': var(--color--black),
                '--link--color--hover': var(--color--black),
            ),
        ),
        'wenge': (
            'color': #62554d,
            'foreground': 'white',
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
            ),
        ),
        'sustainabilitygreen': (
            'color': #333c12,
            'foreground': 'white',
            'properties': (
                '--link--color': 'white',
                '--link--color--hover': 'white',
            ),
        ),
        'white': (
            'color': #f9f7f1,
            'foreground': 'black',
        ),
        'black': (
            'color': #151716,
            'foreground': 'white',
            'properties': (
                '--link--color': 'white',
                '--link--color--hover': 'white',
            ),
        ),
        'red': (
            'color': #a50d09,
            'foreground': 'white',
            'properties': (
                '--link--color': 'white',
                '--link--color--hover': 'white',
            ),
        ),
        'brand-1': (
            'namedColor': 'mist',
        ),
        'brand-2': (
            'namedColor': 'springwood',
        ),
        'brand-3': (
            'namedColor': 'charcoal',
        ),
        'brand-4': (
            'namedColor': 'olivegreen',
        ),
        'brand-5': (
            'namedColor': 'wenge',
        ),
        'brand-6': (
            'namedColor': 'sustainabilitygreen',
        ),
        'foreground': (
            'namedColor': 'black',
        ),
        'background': (
            'namedColor': 'mist',
        ),
        'error': (
            'namedColor': 'red',
        ),
        'valid': (
            'namedColor': 'olivegreen',
        )
    ),
    // Alternative themes, e.g. 'dark-mode'.
    //
    // 'dark-mode': (
    //     'brand-1': (
    //         'namedColor': 'darkgreen',
    //     ),
    //     'brand-2': (
    //         'namedColor': 'lightgreen',
    //     ),
    //     'brand-3': (
    //         'namedColor': 'peach',
    //     ),
    //     'foreground': (
    //         'namedColor': 'white',
    //     ),
    //     'background': (
    //         'namedColor': 'darkgreen',
    //     ),
    // )
);

// Output colors at :root or under theme classes.
// Color custom properties look like this: --color--brand-1
// Toggle '.theme--#{$theme}' on the HTML element.
@mixin color-variables {
    @each $theme, $colormaps in $colors {
        $selector: '&.theme--#{$theme}'; // Parent selector added so that the 'theme--dark-mode' class can be added to HTML el.

        @if $theme == 'base' {
            $selector: '&';
        }

        #{$selector} {
            @each $colorname, $colormap in $colormaps {
                @include theme-color-props($colorname, $theme);
            }
        }
    }
}
