// Define our font-face stacks here.
@mixin font-variables {
    @font-face {
        font-display: fallback;
        font-family: 'F37 Ginger Light';
        font-style: normal;
        font-weight: 300;
        src: url('./static/subset-f37-ginger-light.woff2') format('woff2');
    }

    @font-face {
        font-display: fallback;
        font-family: 'F37 Ginger';
        font-style: normal;
        font-weight: 400;
        src: url('./static/subset-f37-ginger.woff2') format('woff2');
    }

    @font-face {
        font-display: fallback;
        font-family: 'F37 Ginger Bold';
        font-style: normal;
        font-weight: 700;
        src: url('./static/subset-f37-ginger-bold.woff2') format('woff2');
    }
}
