// Define our font-face stacks here.
@mixin font-variables {
     @font-face {
         font-display: fallback;
         font-family: 'F37 Ginger';
         font-style: normal;
         font-weight: normal;
         src: url('./static/f37-ginger-light.otf') format('opentype');
     }
}
