// ---------------------------------------------------
// Spacing
// ---------------------------------------------------

@mixin space-variables {
    // --space--4xs: #{px-to-rem(4px)};
    // --space--3xs: #{px-to-rem(8px)};
    // --space--2xs: #{px-to-rem(16px)};
    // --space--xs: #{px-to-rem(18px)};
    // --space--s: #{px-to-rem(20px)};
    // --space--m: #{px-to-rem(24px)};
    // --space--l: #{px-to-rem(34px)};
    // --space--xl: #{px-to-rem(56px)};
    // --space--2xl: #{px-to-rem(90px)};
    // --space--3xl: #{px-to-rem(146px)};
    --space--4xs: #{rfs(4, 4)};
    --space--3xs: #{rfs(8, 8)};
    --space--2xs: #{rfs(16, 16)};
    --space--xs: #{rfs(18, 18)};
    --space--s: #{rfs(20, 20)};
    --space--m: #{rfs(20, 24)};
    --space--l: #{rfs(28, 34)};
    --space--xl: #{rfs(32, 56)};
    --space--2xl: #{rfs(48, 90)};
    --space--3xl: #{rfs(60, 146)};
    --space--4xl: #{rfs(80, 200)};

    // Default padding on the sides of the page.
    --space--container-padding: var(--space--xs);

    // Default vertical spacing between text elements.
    --space--base: var(--space--s);

    // Default vertical spacing between larger components and blocks
    --space--layout: var(--space--xl);
}

@mixin space-variables--mq {
    @include mq(small) {
        --space--container-padding: var(--space--m);

        --space--layout: var(--space--3xl);
    }
}
