// ---------------------------------------------------
// Spacing
// ---------------------------------------------------

@mixin space-variables {
    --space--5xs: #{px-to-rem(4px)};
    --space--4xs: #{px-to-rem(8px)};
    --space--3xs: #{px-to-rem(12px)};
    --space--2xs: #{px-to-rem(16px)};
    --space--xs: #{px-to-rem(20px)};
    --space--s: #{px-to-rem(24px)};
    --space--m: #{px-to-rem(32px)};
    --space--l: #{px-to-rem(40px)};
    --space--xl: #{px-to-rem(48px)};
    --space--2xl: #{px-to-rem(56px)};
    --space--3xl: #{px-to-rem(64px)};
    --space--4xl: #{px-to-rem(96px)};
    --space--5xl: #{px-to-rem(128px)};

    // Default padding on the sides of the page.
    --space--container-padding: var(--space--xs);

    // Default vertical spacing between text elements.
    --space--base: var(--space--s);

    // Default vertical spacing between larger components and blocks
    --space--layout: var(--space--xl);

    // Each of these responsive spaces start one size below
    // and move up one step at the 'small' breakpoint
    --space--responsive--xs: var(--space--2xs);
    --space--responsive--s: var(--space--xs);
    --space--responsive--m: var(--space--s);
    --space--responsive--l: var(--space--m);
    --space--responsive--xl: var(--space--l);
    --space--responsive--2xl: var(--space--xl);
    --space--responsive--3xl: var(--space--2xl);
}

@mixin space-variables--mq {
    @include mq(small) {
        --space--container-padding: var(--space--m);

        --space--layout: var(--space--3xl);

        --space--responsive--xs: var(--space--xs);
        --space--responsive--s: var(--space--s);
        --space--responsive--m: var(--space--m);
        --space--responsive--l: var(--space--l);
        --space--responsive--xl: var(--space--xl);
        --space--responsive--2xl: var(--space--2xl);
        --space--responsive--3xl: var(--space--3xl);
    }
}
