.product {
    $this: &;

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: var(--space--xl);

    @include mq('large') {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include mq('xlarge') {
        grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr);
    }

    // Column 1. Gallery

    &__gallery {
        .woocommerce-product-gallery {
            display: flex;
            flex-direction: column;
            gap: var(--space--m);

            &__trigger {
                display: none;
            }

            &__image {
                width: 100%;
                aspect-ratio: 1 / 1;

                img {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
            }

            ol.flex-control-nav {
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
                gap: var(--space--m);
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0;

                    img {
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                    }
                }

                // Target 3rd li
                li:nth-child(3) {
                    grid-column: span 2;

                    img {
                        aspect-ratio: 2.5 / 1;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    &__content {
        padding-top: var(--space--xl);
        display: flex;
        flex-direction: column;
        gap: var(--space--l);

        &-section {
            padding-bottom: var(--space--l);
            border-bottom: 1px solid var(--color--brand-1);
        }

        #{$this}__description {
            @include no-first-last-margin;

            margin-top: var(--space--2xs);
        }

        #{$this}__header {
            display: flex;
            flex-direction: column;
            gap: var(--space--3xs);
            max-width: 100%;

            #{$this}__preheading {
                @include typestyle-h6;

                font-weight: var(--type--2--font-weight);
            }

            #{$this}__heading {
                @include typestyle-h1;
                margin: 0;
            }

            #{$this}__header-cta {
                margin-top: var(--space--2xs);

                a {
                    @include typestyle-small;
                    font-family: var(--type--2--font-family);
                    text-transform: uppercase;
                    font-weight: 400;
                    display: flex;
                    gap: var(--space--3xs);
                    align-items: center;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    form > .variations {
        gap: var(--space--s);
        display: flex;
        flex-direction: column;
    }

    &__variations {
        display: flex;
        flex-direction: column;
        gap: var(--space--xs);

        // We have radio buttons for variations, hide default select
        select {
            display: none;
        }

        &__title {
            @include typestyle-h6;
            margin: 0;
            text-transform: uppercase;
        }

        &__radio-group {
            > input {
                display: none;
            }
        }

        &__radio-group--pa_colour {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            column-gap: var(--space--2xl);
            row-gap: var(--space--xs);

            label {
                display: flex;
                align-items: center;
                gap: var(--space--3xs);
                cursor: pointer;
                margin: 0;
                padding: 0;

                .image {
                    width: 36px;
                    height: 36px;
                    border: 2px solid transparent;
                    padding: 2px;
                    border-radius: 9999px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 9999px;
                        overflow: hidden;
                    }
                }
            }

            // checked state
            > input:checked + label {
                text-decoration: underline;
                font-weight: 600;

                .image {
                    border: 2px solid var(--color--black);
                }
            }
        }

        &__radio-group--pa_board-width {
            display: flex;
            flex-direction: row;
            column-gap: var(--space--xs);
            row-gap: var(--space--xs);

            label {
                margin: 0;
                cursor: pointer;
                padding: var(--space--2xs) var(--space--s);
                border: 2px solid var(--color--brand-3);
                display: flex;
                flex-direction: column; // https://css-tricks.com/bold-on-hover-without-the-layout-shift/
                align-items: center;
                justify-content: center;

                // https://css-tricks.com/bold-on-hover-without-the-layout-shift/
                &::after {
                    content: attr(data-text);
                    content: attr(data-text) / ''; // speech output: alt text after the "/".
                    height: 0;
                    visibility: hidden;
                    overflow: hidden;
                    user-select: none;
                    pointer-events: none;
                    font-weight: 600;

                    @media speech {
                        display: none;
                    }
                }

                @include interact {
                    text-decoration: underline;
                    font-weight: 600;
                    background-color: var(--color--brand-1);
                }
            }

            // checked state
            > input:checked + label {
                text-decoration: underline;
                font-weight: 600;
                background-color: var(--color--brand-1);
            }
        }
    }

    .single_variation_wrap {
        margin-top: var(--space--s);
    }

    &__toggles {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: var(--space--l);

        @include mq('large') {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        }

        #{$this}__calculator-cta {
            display: flex;
            flex-direction: row;
            height: fit-content;
            padding: 10px;
            border: 1px solid var(--color--brand-1);
            gap: var(--space--2xs);
            text-decoration: none;

            &--content {
                display: flex;
                flex-direction: column;
            }

            &-heading {
                @include typestyle-h6;
                margin-bottom: var(--space--4xs);
            }

            &-description {
                @include typestyle-small;
                text-decoration: underline;
            }

            svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    &__calculator {
        display: none;
        border: 1px solid var(--color--brand-5);
        margin-top: var(--space--m);

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--space--2xs);
            background-color: var(--color--brand-5);
            color: var(--color--brand-2);

            &--title {
                @include typestyle-h6;
                margin: 0;
                text-transform: uppercase;
            }

            &--close {
                color: var(--color--brand-2);
                display: flex;
                align-items: center;
                gap: var(--space--4xs);
                text-decoration: none;
                cursor: pointer;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            gap: var(--space--2xs);
            padding: var(--space--s);
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: var(--space--2xs);
            padding-bottom: var(--space--s);
            border-bottom: 1px solid var(--color--brand-1);

            &__content {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: var(--space--m);
            }
        }

        &__section--inputs {
            #{$this}__calculator__section__content {
                align-items: flex-end;
            }
        }

        &--label {
            @include typestyle-small;
            margin-bottom: var(--space--2xs);
        }

        &__radios {
            display: flex;
            flex-direction: column;
            gap: var(--space--2xs);
        }

        &--radio {
            @include radio-field;
            --input--color: var(--color--brand-5);
            --input--background-color: transparent;
            --input--background-color--highlight: transparent;

            label {
                margin: 0;
                padding: 0;

                &::after,
                &::before {
                    border-radius: 9999px;
                }
            }
        }

        .quantity {
            input {
                width: 5rem !important;
            }
        }

        &-checkbox {
            display: flex;
            align-items: center;
            gap: var(--space--xs);
            cursor: pointer;

            input[type='checkbox'] {
                cursor: pointer;
            }

            span {
                @include typestyle-small;
            }
        }

        &-results {
            display: flex;
            flex-direction: column;
            gap: var(--space--s);
            padding-top: var(--space--m);
            border-top: 1px solid var(--color--neutral-30);
        }

        &-result {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--total {
                padding-top: var(--space--s);
                border-top: 1px solid var(--color--neutral-30);

                #{$this}__calculator-result-label {
                    @include typestyle-h6;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                #{$this}__calculator-result-value {
                    @include typestyle-h5;
                    font-weight: 700;
                }
            }

            &-label {
                @include typestyle-small;
                font-weight: 600;
                text-transform: uppercase;
            }

            &-value {
                @include typestyle-h6;
                font-weight: 600;
            }
        }

        &__notice {
            display: flex;
            gap: var(--space--s);
            align-items: flex-start;

            svg {
                width: 20px;
                height: 20px;
                flex-shrink: 0;
            }

            span {
                @include typestyle-small;
                margin: 0;
            }
        }
    }

    &__add-to-cart-wrapper {
        margin-top: var(--space--m);
        background-color: var(--color--brand-1);
        padding: var(--space--s);
        display: flex;
        flex-direction: column;
        gap: var(--space--s);
        justify-content: center;

        .single_variation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: var(--space--xs);
            align-items: center;
        }

        .woocommerce-variation-tax {
            @include typestyle-h6;
            font-weight: normal;
            margin: 0;
        }

        .woocommerce-variation-price {
            @include typestyle-h4;
            font-weight: normal;
            text-align: center;
            letter-spacing: 0;
            margin: 0;
        }

        button {
            @include button;
            @include button--interaction;
            @include button--solid;
        }
    }
}
