/**
 * Some styles moved to main.scss to prevent CLS issues.
 */
.product {
    --block--margin-top: var(--space--l);
    --block--margin-bottom: var(--space--xl);

    $this: &;

    &__content {
        &-section {
            padding-bottom: var(--space--l);
            border-bottom: 1px solid var(--color--brand-1);
        }

        #{$this}__description {
            @include no-first-last-margin;

            margin-top: var(--space--2xs);
        }

        #{$this}__header {
            display: flex;
            flex-direction: column;
            gap: var(--space--3xs);
            max-width: 100%;

            #{$this}__preheading {
                @include typestyle-h6;

                font-weight: var(--type--2--font-weight);
            }

            #{$this}__heading {
                @include typestyle-h1;

                margin: 0;
            }

            #{$this}__header-cta {
                margin-top: var(--space--2xs);

                a {
                    @include typestyle-small;

                    font-family: var(--type--2--font-family);
                    text-transform: uppercase;
                    font-weight: 400;
                    display: flex;
                    gap: var(--space--3xs);
                    align-items: center;
                }
            }
        }
    }

    form > .variations {
        gap: var(--space--s);
        display: flex;
        flex-direction: column;
    }

    &__variations {
        display: flex;
        flex-direction: column;
        gap: var(--space--xs);

        // We have radio buttons for variations, hide default select
        select {
            display: none;
        }

        &__title {
            @include typestyle-h6;

            margin: 0;
            text-transform: uppercase;
        }

        &__radio-group {
            > input {
                display: none;
            }
        }

        &__radio-group--pa_colour {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            column-gap: var(--space--2xl);
            row-gap: var(--space--xs);

            label {
                display: flex;
                align-items: center;
                gap: var(--space--3xs);
                cursor: pointer;
                margin: 0;
                padding: 0;

                .image {
                    width: 36px;
                    height: 36px;
                    border: 2px solid transparent;
                    padding: 2px;
                    border-radius: 9999px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 9999px;
                        overflow: hidden;
                    }
                }
            }

            // checked state
            > input:checked + label {
                text-decoration: underline;
                font-weight: 600;

                .image {
                    border: 2px solid var(--color--black);
                }
            }
        }

        &__radio-group:not(.product__variations__radio-group--pa_colour) {
            display: flex;
            flex-direction: row;
            column-gap: var(--space--xs);
            row-gap: var(--space--xs);

            label {
                margin: 0;
                cursor: pointer;
                padding: var(--space--2xs) var(--space--s);
                border: 2px solid var(--color--brand-3);
                display: flex;
                flex-direction: column; // https://css-tricks.com/bold-on-hover-without-the-layout-shift/
                align-items: center;
                justify-content: center;

                // https://css-tricks.com/bold-on-hover-without-the-layout-shift/
                &::after {
                    content: attr(data-text);
                    content: attr(data-text) / ''; // speech output: alt text after the "/".
                    height: 0;
                    visibility: hidden;
                    overflow: hidden;
                    user-select: none;
                    pointer-events: none;
                    font-weight: 600;

                    @media speech {
                        display: none;
                    }
                }

                @include interact {
                    text-decoration: underline;
                    font-weight: 600;
                    background-color: var(--color--brand-1);
                }
            }

            // checked state
            > input:checked + label {
                text-decoration: underline;
                font-weight: 600;
                background-color: var(--color--brand-1);
            }
        }
    }

    .single_variation_wrap {
        margin-top: var(--space--s);
    }

    &__toggles {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: var(--space--l);

        @include mq('large') {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        }
    }

    &__add-to-cart-wrapper {
        margin-top: var(--space--m);
        background-color: var(--color--brand-1);
        padding: var(--space--s);
        display: flex;
        flex-direction: column;
        gap: var(--space--s);
        justify-content: center;

        .woocommerce-simple,
        .single_variation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: var(--space--xs);
            align-items: center;
        }

        .woocommerce-simple-tax,
        .woocommerce-variation-tax {
            @include typestyle-h6;

            font-weight: normal;
            margin: 0;
        }

        .product__pricing-description {
            text-align: center;

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }

        .woocommerce-simple-price,
        .woocommerce-variation-price {
            @include typestyle-h4;

            font-weight: normal;
            text-align: center;
            letter-spacing: 0;
            margin: 0;
        }

        button {
            @include button;
            @include button--interaction;
            @include button--solid;
        }
    }
}
