.partner-contact-form {
    .hbspt-form {
        input,
        textarea {
            --input--background-color: transparent;
            --input--border-color: var(--color--foreground);
            --input--border-color--focus: var(--color--brand-4);
            --input--color: var(--color--foreground);
            --input--color--focus: var(--color--foreground);
            --input--placeholder-color: var(--color--foreground);
            --input--border-width--focus: 1px;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }

        .hs-error-msgs {
            @include no-first-last-margin;
            @include color-context('error');

            max-width: 100%;
            width: 100%;
            margin: px-to-rem(8px) 0;
            padding: px-to-rem(8px) px-to-rem(16px);

            li {
                @include typestyle-large;
                text-transform: none;
                letter-spacing: inherit;
                font-weight: 600;

                label {
                    margin: 0;
                }
            }
        }

        input.error,
        textarea.error {
            &:not(:focus-within) {
                --input--border-color: var(--color--error);
            }
        }

        .hs_ops_out_marketing {
            input {
                margin-right: px-to-rem(8px);
            }
        }
    }

    .hs-button {
        @include button;

        margin-top: px-to-rem(32px);

        &:hover {
            @include button--interacted;
        }
    }
}
