.social-icons {
    --social-icons--icon-size: #{px-to-rem(24)};
    --flex-flow: row;
    --flex-column--gap: var(--space--s);

    &__icons {
        align-items: center;
    }

    &__icon {
        a {
            position: relative;
            display: flex;
            width: 1em;
            height: 1em;
            align-items: center;
            justify-content: center;
            color: inherit;
            font-size: var(--social-icons--icon-size);
            transition: background-color var(--transition--duration) var(--transition--ease);

            @include interact {
                color: var(--color--black);
            }
        }

        svg {
            display: block;
            fill: currentColor;
        }
    }
}
