.accordion {
    $this: &;

    padding: var(--space--2xl) 0;
    margin: 0;

    &__inner {
        max-width: var(--width--responsive--l);
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space--2xl);

        @include mq(medium) {
            grid-template-columns: 1fr 2.5fr;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: var(--space--3xs);

        &__heading {
            @include typestyle-h3;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
        }

        &__preheading {
            @include no-first-last-margin;
            @include typestyle-h6;
        }

        &__description {
            p {
                margin: 0;
            }
        }

        &__cta {
            margin-top: var(--space--2xs);
            width: max-content;
        }
    }

    &__items {
        border-top: var(--accordion--items--border-y);
    }
}
