.post-summaries {
    $this: &;

    &.is-search-results {
        --block--max-width: var(--width--responsive--l);

        display: grid;
        gap: var(--space--xl);

        @include mq(medium) {
            grid-template-columns: auto 1fr;
        }

        #{$this}__sidebar {
            @include mq(medium) {
                max-width: var(--width--3xs);
            }
        }

        #{$this}__inner {
            @include mq(medium) {
                max-width: var(--width--s);
            }
        }
    }

    &__heading {
        padding-bottom: var(--space--2xs);
        border-bottom: var(--border--1);
        margin-bottom: var(--space--l);
    }

    &__items {
        display: grid;
        gap: var(--space--l);
    }

    &__sidebar-heading {
        margin-bottom: var(--space--2xs);
    }
}

.post-summary {
    $image-size: px-to-rem(150);

    display: grid;
    align-items: center;
    gap: var(--space--4xs);
    grid-template-columns: 100%;

    &__heading {
        @include typestyle-xlarge;
        @include link--2;

        margin: 0;
        font-weight: var(--type--3--font-weight);
    }

    &__content {
        align-self: start;
        margin-top: var(--space--4xs);
    }

    &__tags {
        margin-top: var(--space--2xs);
    }
}
