.post-summaries {
    &__heading {
        padding-bottom: var(--space--2xs);
        border-bottom: var(--border--1);
        margin-bottom: var(--space--l);
    }

    &__items {
        display: grid;
        gap: var(--space--l);
    }
}

.post-summary {
    $image-size: px-to-rem(150);

    display: grid;
    align-items: center;
    gap: var(--space--4xs);
    grid-template-columns: 100%;

    &__heading {
        @include typestyle-xlarge;
        @include link--2;

        margin: 0;
        font-weight: var(--type--3--font-weight);
    }

    &__content {
        align-self: start;
    }
}
