@import '../../../core';
@import './variables.scss';
@import './filters.scss';
@import './map.scss';
@import './icons.scss';

.map {
    --color--dark-grey: #849695;

    $this: &;

    &.has-background {
        padding-right: 0;
        padding-left: 0;
    }

    &__map-container,
    &__table-container {
        overflow: hidden;
        border: 0;

        // Hide and show the table or the map.
        &[aria-hidden='true'] {
            display: none;
            visibility: hidden;
        }
    }

    &__body {
        display: grid;
        gap: var(--space--xl);

        @include mq(medium) {
            grid-template-columns: 1fr 2fr;
        }
    }
}
