.flex-column {
    display: flex;
    flex-flow: var(--flex-flow, column);
    gap: var(--flex-column--gap, var(--space--base));

    @include mq(medium) {
        &--mq-medium--row {
            flex-flow: row wrap;
        }
    }
}
