@import '../../../core';

.iframe {
    margin-right: var(--space--m);
    margin-left: var(--space--m);

    // Padding.
    padding: 0;

    &__inner {
        margin: auto;

        @include mq(large) {
            max-width: 972px;
        }
    }
}
