@import '../../../core';

.iframe {
    margin-right: var(--space--m);
    margin-left: var(--space--m);

    // Padding.
    padding-top: var(--space--2xl);
    padding-bottom: var(--space--xl);

    &__inner {
        margin: auto;

        @include mq(large) {
            max-width: 972px;
        }
    }
}
