.people {
    .g-card {
        --media-object--inner-padding-x: 0;
        --media-object--inner-padding-y: 0;

        &[data-media] {
            --media-object--gap: var(--space--xs);
        }

        .media-object__heading {
            @include typestyle-h5;
        }

        .media-object__subheading {
            text-transform: uppercase;
            font-size: rfs(15, 15);
        }

        .media-object__text {
            padding-top: var(--space--s);
            margin-top: var(--space--s);
            border-top: 1px solid var(--color--brand-2);
        }
    }
}
