.people {
    --people--border-color: var(--color--brand-2);

    // Set the border color based on the background color.
    &.has-brand-2-background-color {
        --people--border-color: var(--color--brand-1);
    }

    .g-card {
        --media-object--inner-padding-x: 0;
        --media-object--inner-padding-y: 0;

        &[data-media] {
            --media-object--gap: var(--space--xs);
        }

        .media-object__heading {
            @include typestyle-h5;
        }

        .media-object__subheading {
            text-transform: uppercase;
            font-size: rfs(15, 15);
            opacity: 0.8;
            letter-spacing: calc(var(--type--font-size--base) * 0.08333); // 1.5/18px font-size = 0.08333
        }

        .media-object__text {
            padding-top: var(--space--s);
            margin-top: var(--space--s);
            border-top: 1px solid var(--people--border-color);
        }
    }
}
