// .g-button is prefixed to avoid conflicts with ACF's .button in the editor.
.g-button {
    @include button;

    $this: &;

    &--small {
        @include button--small;
    }

    &--label {
        @include button--label;
    }

    &--square {
        @include button--square;
    }

    &--icon {
        @include button--icon;
    }

    &--arrow {
        @include button--arrow;
    }

    &--secondary {
        @include button--secondary;
    }

    &--solid {
        @include button--solid;
    }

    @include button--interaction;
}

// Override hover colors:
// Wenge
// Charcoal
// Olivegreen
.has-brand-5-background-color,
.has-brand-3-background-color,
.has-brand-6-background-color {
    --button--background-color: transparent;
    --button--border-color: var(--color--white);
    --button--color: var(--color--white);

    --button--background-color--hover: var(--color--foreground);
    --button--border-color--hover: var(--color--foreground);
    --button--color--hover: var(--color--background);
}
